
<div class="footer-wrapper">
  <section class="footer">
    <div class="container">
      <div class="search">
        <h2>Search</h2>
        <h5><a href="/about">about</a></h5>
        <h5><a href="/partners">partners</a></h5>
        <h5><a href="/wines">the wines</a></h5>
        <h5><a href="/contact">contact</a></h5>
      </div>
      <div class="buy">
        <h2>Buy</h2>
        <h5><a target="_blank" href="http://locator.banfi-hq.com/WineLocator/default.aspx?BCode=855">find a store</a></h5>
        <h5><a target="_blank" href="http://www.wine.com/v6/Little-Black-Dress/learnabout.aspx?winery=20103&ct=1925&iid=ProductDetail:WineryLink">shop online</a></h5>
      </div>
      <div class="social">
        <h2>Social</h2>
        <div class="wrapper">
          <a target="_blank" href="https://www.instagram.com/LittleBlackDressWines/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.facebook.com/littleblackdresswines"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a target="_blank" href="https://twitter.com/LBD_Wines"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>


      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="copyright">
        <p>&copy; 2016 little black dress wines<span class="desktop">. all rights reserved.</span></p>
      </div>
      <div class="terms">
        <p><a href="/terms">terms</a></p>
      </div>
      <div class="supply">
        <p><a href="/supply-chain">supply chain act</a></p>
      </div>

    </div>
  </footer>

</div>

