<script>
// jqverify

var agemodal = "#agemodal",
    formsubmit = "#formsubmit",
    modalContent = "main",
    agecookie = 'jqverify';

// uncomment this line in development:
// eraseCookie('jqverify');


if (!readCookie( agecookie)) {
    jQuery(agemodal).fadeIn();
} else {
    jQuery(modalContent).fadeIn();
}

jQuery(formsubmit).on('click', function(event){

  if (event.preventDefault) {
    event.preventDefault();
  } else {
    event.returnValue = false;
  }

  createCookie( agecookie, 1, 30); // expire in 30 days

  jQuery(agemodal).fadeOut();
  jQuery(modalContent).fadeIn();
  return true;
});

function createCookie(name,value,days) {
  var date = new Date();
  var expires = "";
  if (days) {
      date.setTime(date.getTime()+(days*24*60*60*1000));
      expires = "; expires="+date.toGMTString();
  }
  document.cookie = name+"="+value+expires+"; path=/";

  console.log(name+"="+value+expires+"; path=/");
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) === 0) {
          return c.substring(nameEQ.length,c.length);
        }
    }
    return null;
}

function eraseCookie(cookieName) {
    createCookie(cookieName,"",-1);
}
</script>