// Using this instead of bitters' grid-settings
@import "neat-helpers";
// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: em(176);
// $gutter: em(54);
$column: em(88);
$gutter: em(27);
// $grid-columns: 12;
// $max-width: calc(100% - 2rem);
$max-width: em(1353); // for desktop, mobile needs overriding styles

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////

$s: em(100);
$m: em(500);
$l: em(769);
$xl: em(1353);
// $xxl: em(1600);

$s-up: new-breakpoint(min-width $s 2);
$m-up: new-breakpoint(min-width $m 2);
$l-up: new-breakpoint(min-width $l 12);
$xl-up: new-breakpoint(min-width $xl 12);
// $xxl: new-breakpoint(min-width $xxl 4);

